div.tooltip { 
    position: absolute;     
    text-align: left; 
    max-width: 200px;          
    height: auto;  
    padding: 5px;       
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 12px;
    background: white; 
    opacity: 0.7;   
}

#lag_x_axis > .domain, #lag_y_axis > .domain {
    fill: none;
    stroke: none;
}

.tick line {
    visibility: hidden;
}

.step, body {
    font-family: sans-serif;
    font-size: 12pt;
}

.step {
    background-color: white;
    opacity: 90%;
    position: relative;
    overflow: scroll;
    margin-bottom: 90vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

text {
    font-size: 8pt;
}

.body_text {
    margin-top: 5%;
    margin-bottom: 5%;
}

@media screen and (min-width: 900px) {
    .body_text {
      margin-left: 25%;
      margin-right: 25%
    }

    .step {
        margin-left: 30%;
        margin-right: 30%;
    }
}

@media screen and (max-width: 900px) {
    .body_text {
      margin-left: 3%;
      margin-right: 3%
    }

    .step {
        margin-left: 10%;
        margin-right: 10%;
    }
    
}

#step2 {
    margin-bottom: 120vh;
}

.lag, .us-graph {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pin-spacer, .us-graph {
    margin: 0% !important;
}