.domain {
    fill: none;
    stroke: none;
}

.tick line {
    visibility: hidden;
}

.step, body {
    font-family: sans-serif;
    font-size: 12pt;
}

.step {
    background-color: white;
    opacity: 90%;
    position: relative;
    overflow: scroll;
    margin-bottom: 90vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

text {
    font-size: 8pt;
}

.body_text {
    margin-bottom: 2vh;
}

@media screen and (min-width: 900px) {
    .body_text, .step {
      margin-left: 25%;
      margin-right: 25%
    }
}

@media screen and (max-width: 900px) {
    .body_text, .step {
      margin-left: 3%;
      margin-right: 3%
    }
}

#step2 {
    margin-bottom: 120vh;
}

.timeline, .fig-content, svg {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pin-spacer {
    margin: 0% !important;
}