div.tooltip { 
    position: absolute;     
    text-align: left; 
    max-width: 200px;          
    height: auto;  
    padding: 5px;       
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 12px;
    background: white; 
    opacity: 0.7;   
}

.domain {
    fill: none;
    stroke: none;
}

.tick line {
    visibility: hidden;
}

text, .step {
    font-family: sans-serif;
}

.tooltip_title, .tooltip_content {
    font-family: sans-serif;
}

.tooltip_title {
    font-weight: bold;
}

.step {
    font-family: sans-serif;
    font-size: 14px;
    background-color: white;
    opacity: 90%;
    position: relative;
    overflow: scroll;
    margin-bottom: 60%;
}
