/* TOOLTIP */
div.tooltip { 
    position: absolute;     
    text-align: left; 
    max-width: 200px;          
    height: auto;  
    padding: 5px;       
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 10pt;
    font-weight: bold;
    background: white; 
    opacity: 0.7;   
}

/* AXIS */
.tick line {
    visibility: hidden;
}

.grid line {
    stroke: #ABABAB;
    fill: #ABABAB;
    opacity: 0.2;
    visibility: visible !important
}

.y_label_text text, .x_label_text text {
    font-weight: bold;
    font-size: 9.5pt;
}

text {
    font-size: 9pt;
    color: #ABABAB;
}

.domain {
    stroke: #ABABAB;
    opacity: 0.7;
}

#lag_x_axis > .domain, #lag_y_axis > .domain, .grid > .domain {
    fill: none;
    stroke: none;
}

#lag_x_axis line, #lag_y_axis line, .y_axis .domain {
    visibility: hidden;
}

#lag_x_axis text, #lag_y_axis text, #us_x_axis text {
    color: black;
}

#lag_y_axis text {
    font-size: 8pt;
}

/* MAIN BODY TEXT */
body {
    font-family: sans-serif;
    line-height: 1.4;
    color: black;
}

.body_text {
    margin-bottom: 2%;
}

.header, .byline {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight: 600;
}

.byline {
    color: gray;
}

.title {
    margin-top: 5%;
    margin-bottom: 3%;
}

/* highlight text */
.pink_highlight {
    background-color: #D9A4C5;
    color: white;
    border-radius: 8px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0 5px 0 5px;
}

.green_highlight {
    background-color: #1D5902;
    color: white;
    border-radius: 8px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0 5px 0 5px;
}

/* SCREEN SIZE */
/* big screens */
@media screen and (min-width: 900px) {
    .body_text, .graph_title, .graph_byline, .title {
      margin-left: 28%;
      margin-right: 28%;
    }

    .body_text, .graph_byline {
        font-size: 14pt;
    }

    .graph_title, .byline {
        font-size: 16pt;
    }

    .header {
        font-size: 36pt;
    }
}

/* small screens */
@media screen and (max-width: 900px) {
    .body_text, .graph_title, .graph_byline {
      margin-left: 3%;
      margin-right: 3%;
    }

    .body_text {
        font-size: 11pt;
    }

    .graph_title, .graph_byline, .byline {
        font-size: 13pt;
    }

    .header {
        font-size: 24pt;
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* VIZ */
.lag, .us-graph, .scatter {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0% 0% 3% 0%;
    z-index: 1;
}

.checkboxes {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0% 0% 3% 0%;
}

/* VIZ TITLES */
.graph_title {
    font-weight: bold;
}

.graph_title_container {
    margin-bottom: 20px;
}

.graph_title {
    margin-bottom: 10px;
}

.graph_byline {
    color: #DBDBDB;
}

/* CHECKBOXES */
.checkbox:hover {
    accent-color: grey;
}

#cb2008:checked {
    accent-color: #B55997;
}

#cb2101:checked {
    accent-color: #D9A4C5;
}

#cb2104:checked {
    accent-color: #F8D7EB;
}
  
/* VIZ TITLES */
.graph_title {
    font-weight: bold;
}

.graph_title_container {
    margin-bottom: 20px;
    margin-top: 3%;
}

.graph_title {
    margin-bottom: 5px;
}

.graph_byline {
    color: gray;
}

/* LINKS */
a:link {
    color: #1D5902;
    text-decoration: underline;
    -webkit-any-link: none;
}

a:hover {
    color: #B55997;
    text-decoration: underline;
    -webkit-any-link: none;
}

a:visited {
    color: #B55997;
    text-decoration: underline;
    -webkit-any-link: none;
}

/* legend */
.state_leg {
    background-color: white;
}